<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] - chayanonr</title>
  <link rel="icon" href="/img/ChayanonR.png" type="image/x-icon">
  <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
  <header>
    <nav>
      <a href="/" class="logo">
        <img src="/img/ChayanonR.png" alt="Chayanonr Logo" class="logo-img">
      </a>
      <div class="nav-container">

        <button class="menu-toggle" onclick="toggleMenu()">
          <span class="menu-icon"></span>
        </button>
        <div class="eye-container">
      <div class="eye">
        <div class="pupil"></div>
        <div class="eyelid-top"></div>
        <div class="eyelid-bottom"></div>
      </div>
      <div class="eye">
        <div class="pupil"></div>
        <div class="eyelid-top"></div>
        <div class="eyelid-bottom"></div>
      </div>
    </div>
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>

        
        
        <button id="theme-toggle" aria-label="" class="toggle-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm2 0c0-5.514 4.486-10 10-10v20c-5.514 0-10-4.486-10-10z">
            </path>
          </svg>
        </button>


      </div>
    </nav>
  </header>

  <main role="main" class="container">
    @RenderBody()
  </main>
  <footer>
    
    <div class="social-links">
      <a href="https://github.com/chayanonr" target="_blank"><img src="/img/gh.png"></a>
      <a href="https://linkedin.com/in/chayanonr" target="_blank"><img src="/img/fb.png"></a>
      <a href="https://linkedin.com/in/chayanonr" target="_blank"><img src="/img/ln.png"></a>
    </div>
  </footer>

  <script src="~/js/site.js"></script>
</body>

</html>
