<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"] - chayanonr</title>
  <link rel="icon" href="/img/ChayanonR.png" type="image/x-icon">
  <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
  <header>
    <nav>
      <a href="/" class="logo">
        <img src="/img/ChayanonR.png" alt="Chayanonr Logo" class="logo-img">
      </a>
      <div class="nav-container">

        <button class="menu-toggle" onclick="toggleMenu()">
          <span class="menu-icon"></span>
        </button>
        <ul class="nav-menu">
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main" class="container">
    @RenderBody()
  </main>
  <footer>
    <div class="eye-container">
      <div class="eye">
        <div class="pupil"></div>
        <div class="eyelid-top"></div>
        <div class="eyelid-bottom"></div>
      </div>
      <div class="eye">
        <div class="pupil"></div>
        <div class="eyelid-top"></div>
        <div class="eyelid-bottom"></div>
      </div>
    </div>

    <div class="social-links">
      <a href="https://github.com/chayanonr" target="_blank">GitHub</a>
      ||
      <a href="https://linkedin.com/in/chayanonr" target="_blank">LinkedIn</a>
      ||
      <a href="https://linkedin.com/in/chayanonr" target="_blank">Instragram</a>
      ||
      <a href="https://linkedin.com/in/chayanonr" target="_blank">X</a>
    </div>
  </footer>
  <script src="~/js/site.js"></script>
</body>

</html>
