@page
@model BlogsModel

<section id="blogs">
  <h2>Recent Blogs</h2>
  <div class="blogs-container">
    <!-- Loop through and display recent blog posts -->
    <div class="blog-post">
      <h3>Blog Title 1</h3>
      <p>Short description of the blog post...</p>
      <a href="/Blogs/1">Read More</a>
    </div>
    <div class="blog-post">
      <h3>Blog Title 2</h3>
      <p>Short description of the blog post...</p>
      <a href="/Blogs/2">Read More</a>
    </div>
  </div>
</section>

