@page
@model AboutModel

<section id="about">
  <div class="about-content">
    <div class="about-img">
    <img src="/img/ChayanonR.png" alt="Chayanon" class="about-photo">
    </div>
    <div class="about-text">
      <h2>About Me</h2>
      <p>I'm a junior developer with a passion for learning and creating impactful web projects. I have experience with .NET, JavaScript, and TypeScript. My goal is to develop innovative solutions and build a professional portfolio to showcase my skills.</p>
    </div>
  </div>
</section>
