@page
@model AboutModel

<body class="about-page">
  <section id="about">
    <div class="about-content">
      <!-- <div class="about-img">
    <img src="/img/ChayanonR.png" alt="Chayanon" class="about-photo">
    </div> -->
      <div class="about-text">
        <h2>About Me.</h2>
      </div>
      <div class="roadmap">
        <div class="roadmap-line"></div>
        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2023</h3>
            <p>Completed Computer Science Degree</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2023</h3>
            <p>Started as a Junior Developer</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2024</h3>
            <p>Joined Investment Firm</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2025</h3>
            <p>Joined Investment Firm</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2026</h3>
            <p>Joined Investment Firm</p>
          </div>
        </div>

      <div class="about-text">
        <h3>My hobbies</h3>
      </div>
      </div>
      </br></br></br>
      <div class="roadmap">
        <div class="roadmap-line"></div>
        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2027</h3>
            <p>Completed Computer Science Degree</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2028</h3>
            <p>Started as a Junior Developer</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2029</h3>
            <p>Joined Investment Firm</p>
          </div>
        </div>

        <!-- Add more items as needed -->
      </div>
    </div>
    </div>

    

  </section>
</body>