@page
@model AboutModel
@{
  ViewData["Title"] = "About Me | Chayanonr";
}

<body class="about-page" id="about-page">
  <section id="about">
    <div class="about-content">
      <!-- <div class="about-img">
    <img src="/img/ChayanonR.png" alt="Chayanon" class="about-photo">
    </div> -->
      <div class="about-text">
        <h2>About Me.</h2>
      </div>
      <div class="roadmap">
        <div class="roadmap-line"></div>
        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2022</h3>
            <p>Completed Computer Science Degree </p>
            <p2> Graduated from Sirindhorn International Institute of Technology (SIIT) with a Bachelor's degree in
              Computer Science. During my time at SIIT, I developed a strong foundation in programming, algorithm
              design, and software development. I worked on various academic projects, honing my skills in languages
              like Java, C#, and JavaScript, and developed a keen interest in web development and data analysis. This
              experience has driven my passion to pursue a career in software engineering and continue learning about
              new technologies.</p2>

          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2022</h3>
            <p>Internship at National Electronics and Computer Technology Center (NECTEC)</p>
            <p2>Completed an internship at the National Electronics and Computer Technology Center (NECTEC), where I
              worked on cutting-edge technology projects. This experience allowed me to apply my academic knowledge to
              real-world problems, enhance my coding skills, and gain valuable experience in research and development.

            </p2>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2023</h3>
            <p> Began working at our family-owned company</p>
            <p2>Began working at our family-owned company as the Technology Lead and Manager. In this role, I took
              charge of modernizing the company’s technology infrastructure, streamlining operations, and introducing
              digital solutions to enhance efficiency. Alongside my technical work, I also manage daily business
              operations.</p2>
          </div>
        </div>

        <a href="/projects" class="see-proj">
          Let's continue to projects
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
            class="arrow-icon">
            <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"></path>
          </svg>
        </a>

        <!-- <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2025</h3>
            <p>Joined Investment Firm</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2026</h3>
            <p>Joined Investment Firm</p>
          </div>
        </div>

      <div class="about-text">
        <h3>My hobbies</h3>
      </div>
      </div>
      </br></br></br>
      <div class="roadmap">
        <div class="roadmap-line"></div>
        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2027</h3>
            <p>Completed Computer Science Degree</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2028</h3>
            <p>Started as a Junior Developer</p>
          </div>
        </div>

        <div class="roadmap-item">
          <div class="circle"></div>
          <div class="content">
            <h3>2029</h3>
            <p>Joined Investment Firm</p>
          </div>
        </div>
        -->

        <!-- Add more items as needed -->
      </div>
    </div>
    </div>




  </section>
</body>
