@page
@model IndexModel
@{
  ViewData["Title"] = "Home | Chayanonr";
}
<body class="index-page" id="index-page">
  <div class="hero-content">
    
    <h1>I'm Chayanon Rodjanawon</h1>
    <p>
      I’m a Computer Science graduate from Thailand, passionate about software development and technology.</br>
      I am looking for opportunities as a junior developer to contribute my skills and grow professionally.</br>
      In addition to my technical interests, I’m deeply involved in investing and constantly learning about financial
      markets.
    </p>
    <a href="/about" class="see-more">
      See More About Me
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
        class="arrow-icon">
        <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"></path>
      </svg>
    </a>
  </div>

</body>

