@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section id="welcome" class="hero">
  <div class="hero-content">
     <h1>I'm Chayanon Rodjanawon</h1>
     <p>
        I’m a Computer Science graduate from Thailand, passionate about software development and technology.</br>
        I am looking for opportunities as a junior developer to contribute my skills and grow professionally.</br>
        In addition to my technical interests, I’m deeply involved in investing and constantly learning about financial markets.
    </p>
  </div>
</section>

