@page
@model ResumeModel
@{
    ViewData["Title"] = "Resume | Chayanonr";
}

<body class="resume-page" id="resume-page">
  <div class="resume-content">
    <h1>Resume</h1>
    <p>reach out to me via my <a href="/contact">contact page</a> or <a href="/img/Chayanon_Resume_draft2.jpg" download="Chayanon_Resume_draft2.jpg">download</a></p>
  </div>

  <div class="resume-img">
    <img src="/img/ChayanonResume.jpg">
  </div>
<div class="c-contact">
  <a href="/contact" class="see-contact">
          Convince to contact me now?
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"
            class="arrow-icon">
            <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"></path>
          </svg>
        </a>
</div>

</body>

